---
import { Image } from "astro:assets";
import BaseLayout from "@layouts/BaseLayout.astro";
import DesignGrid from "@components/DesignGrid.astro";
import iep1 from "@assets/iep-1.webp";
import iep2 from "@assets/iep-2.webp";
import iep3 from "@assets/iep-3.webp";
---

<BaseLayout
	title="How Children Design the Future of AI for Primary Schools"
	desc="Designs created by children as part of a workshop exploring the future of AI at school"
	ogImageData={iep2}
	ogImageAlt="Four participants sitting around a table, photographed from above, creating drawings and filling out worksheets"
>
	<div>
		<div class="relative mb-20 pt-24 px-4 md:px-8 flex flex-col-reverse md:flex-row md:items-center md:justify-center gap-x-4">
			<div class="w-full mt-8 md:w-125 md:mr-24 md:mt-0">
				<h1 class="text-3xl mb-4 normal-case">
					How Children Design the Future of AI for Primary Schools
				</h1>
				<p>
					In February and March 2025, 7 primary school classes across Scotland and the Netherlands participated in a workshop on the future of AI at school. In teams, students aged 9-12 reflected on opportunities for improvement at their school and designed an AI-powered tool that could help with their topic. This website showcases all of their ideas!
				</p>
				<div class="flex flex-wrap gap-4 mt-6">
					<button disabled class="py-2 px-3 bg-gray-200 text-gray-700 rounded cursor-not-allowed">
						Research report coming soon
					</button>
					<a
						href="/docs/DesigningFutureAIAtSchoolWorksheets.pdf" target="_blank" rel="noopener noreferrer"
						class="py-2 px-3 bg-green-100 text-green-900 border border-green-900 rounded no-underline cursor-pointer hover:bg-blue-100 hover:text-blue-800 hover:border-blue-800"
					>
						Get worksheets
					</a>
				</div>
			</div>
			<div class="hidden lg:block w-62.5">
				<Image
					src={iep3}
					alt={"Two workshop participants colouring in a robot of their design called 'TalkBotAI'"}
					class="rounded-lg border-2"
				/>
			</div>
			<div class="w-[80%] md:w-100">
				<Image
					src={iep2}
					alt={"Four participants sitting around a table, photographed from above, creating drawings and filling out worksheets"}
					class="rounded-lg border-2"
				/>
				<Image
					src={iep1}
					alt={"Several participants sitting around a table, creating several drawings on large sheets of paper"}
					class="w-[80%] mt-4 rounded-lg border-2 hidden md:block"
				/>
			</div>
		</div>

		<main>
			<section class="max-w-7xl mx-auto px-8 py-12 bg-green-100 dark:bg-green-950 border-y-2 xl:border-x-2 border-green-900 xl:rounded-xl text-center">
				<h3 class="w-full mt-0 mb-8 font-semibold text-[1.1rem] uppercase">
					By the numbers...
				</h3>
				<div class="flex flex-wrap justify-evenly mb-8">
					<div class="w-32">
						<span class="font-medium text-3xl">
							175
						</span>
						<br />
						<span class="text-xl">
							participants
						</span>
					</div>
					<div class="w-32">
						<span class="font-medium text-3xl">
							45
						</span>
						<br />
						<span class="text-xl">
							teams
						</span>
					</div>
					<div class="w-32">
						<span class="font-medium text-3xl">
							92
						</span>
						<br />
						<span class="text-xl">
							designs
						</span>
					</div>
				</div>
				<p>
					A massive thank you to all students and teachers who participated!
				</p>
			</section>

			<section class="max-w-7xl mx-auto mt-12">
				<h1 class="font-semibold text-4xl mb-2 px-4 md:px-8">
					Designs
				</h1>
				<p class="px-4 md:px-8 mt-0 mb-4">
					Drawings are presented in random order. If a team made multiple designs, you can view them by clicking on the drawing.
				</p>
				<DesignGrid />
			</section>
		</main>

		<footer class="mt-20 bg-green-50 dark:bg-green-950 px-4 py-8 md:px-8">
			<p class="text-sm text-green-800 dark:text-green-500">
				&copy; Rayo Verweij 2025. This research was funded by the UKRI AI Centre for Doctoral Training in Responsible and Trustworthy in-the-world Natural Language Processing (grant ref: EP/Y030656/1).
			</p>
		</footer>
	</div>
</BaseLayout>
