---
import "../styles/global.css";
import Analytics from "@vercel/analytics/astro";
import SpeedInsights  from "@vercel/speed-insights/astro";


interface Props {
	title: string;
	desc: string;
}

const { title, desc } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{ title } | Rayo Verweij</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1" />
		<meta name="description" content={desc}>
		<link rel="icon" href="/favicon.ico" />
	</head>
	<body class="bg-white">
		<slot />
		<Analytics />
		<SpeedInsights />
	</body>
</html>
